@import '../../styles/base';

.footerContainer {
  @include body;
  background-color: $color-protanomali;
  position: relative;
	height: 220px;
  bottom: 0px;
  padding-bottom: 0.5rem;
	.footerWrapper {
		background-image: url('../../static/images/footerPNG.webp');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: $color-ultra-white;
	}
}
